.AuthForm {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 20px;
}

.AuthForm-title {
    margin: 0;
}

.AuthForm-label {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.AuthForm-button {
    width: fit-content;
}

.AuthForm-error {   
    color: #FF0000;
}

